/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

/**
  * General
  */
:root {
  --bg-dark: #222;
  --heading-dark-theme: #fff;
  --text-dark-theme: #b7b7b7;
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
  margin: 0;
}

p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.subheading {
  font-size: 22px;
  font-weight: 400;
  color: var(--primary-color);
}

.secondary-heading {
  margin-bottom: 15px;

  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #000;
}

.text-heading {
  font-size: 17px;
  line-height: 27px;
}

/* Custom Button */
.btn-custom {
  display: inline-block;

  padding: 14px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;

  background: var(--primary-color);
  border: none;
  border-radius: 30px;

  transition: background-color 0.5s;
}

.btn-custom:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

/* Dark theme handlers */
.theme-dark,
.theme-dark #header-nav,
.theme-dark #header.header--sticky {
  background-color: var(--bg-dark);
}

.theme-dark .primary-heading,
.theme-dark .secondary-heading,
.theme-dark .works-item__title > a,
.theme-dark .services-item__title > a,
.theme-dark .features-info__title,
.theme-dark .features-item__title,
.theme-dark .footer-contact__title,
.theme-dark .footer-medias__title,
.theme-dark .header-nav-list .header-nav-link,
.theme-dark #header.header--sticky #toggle-theme,
.theme-dark #header.header--sticky #toggle-menu,
.theme-dark #header.header--sticky .header__logo-link {
  color: var(--heading-dark-theme);
}

.theme-dark .header__logo-link:hover {
  color: #fff;
}

.theme-dark #carousel .section-headings::before {
  color: #000;
}

.theme-dark p,
.theme-dark .footer-contact-item,
.theme-dark .footer-contact-item > a {
  color: var(--text-dark-theme);
}

.theme-dark .works-item {
  box-shadow: 2px 5px 100px rgba(0, 0, 0, 0.45);

  transition: box-shadow 0.3s;
}

.theme-dark .works-item:hover {
  box-shadow: 2px 5px 120px rgba(0, 0, 0, 0.2);
}

.theme-dark .services-item__body {
  background-color: var(--bg-dark);
}

.theme-dark .footer-medias__input {
  background-color: #000;
}

.theme-dark .footer-medias__input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  caret-color: rgba(255, 255, 255, 0.7);
}

.theme-dark .footer-info__logo-link:hover {
  color: #fff !important;
}

/*-------------- Tran Duc Thanh --------------*/
/**
  * Header 
  */

/* TODO: Style Header below this line */
#header {
  padding: 22px 0;
  background-color: transparent;

  position: absolute;
  width: 100%;
  z-index: 5;

  transition: all 0.7s;
}

#header.header--sticky {
  padding: 22px 0 12px 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: -10px;
}

#header.header--sticky #toggle-theme,
#header.header--sticky #toggle-menu,
#header.header--sticky .header__logo-link {
  color: #000;
}

.header__logo-link {
  display: inline-block;
  padding: 0 15px;

  font-family: "Volkhov", serif;
  color: var(--primary-color);
  font-size: 32px;

  position: relative;

  transition: color 0.4s;
}

.header__logo-link > i {
  font-size: 20px;

  position: absolute;
  top: -2px;
  left: 70px;
}

.header__logo-link:hover {
  color: #000;
}

.header-menu {
  padding: 0 15px;

  justify-content: flex-end;
  gap: 20px;
}

.form-group {
  margin: 0;
  cursor: pointer;
}

#search {
  padding: 0;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0.5px solid #7070702b;
  cursor: pointer;

  background-color: #fff;

  transition: all 0.5s;
}

#search:focus {
  outline: none;
  padding: 0 30px;
  border-radius: 999px;
  width: 200px;
  cursor: text;
}

.search-icon {
  top: 10px;
  left: 10px;
}

#toggle-theme,
#toggle-menu {
  cursor: pointer;
}

#toggle-theme {
  font-size: 20px;
  color: #fff;
}

#toggle-theme:hover {
  color: var(--primary-color);
}

#toggle-menu {
  font-size: 27px;
  color: #fff;
}

#header-nav {
  max-height: 0;
  overflow: hidden;
  width: 235px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

  top: 110%;
  right: 15px;
  z-index: 1;

  border-radius: 4px;

  transition: max-height 0.8s;
}

#header-nav.header-nav--active {
  max-height: 310px;
}

.header-nav-list > li {
  padding: 7px 0;
  width: 100%;
  cursor: pointer;
}

.header-nav-list .header-nav-link {
  display: block;
  font-weight: 600;
  color: #000;
  transition: color 0.4s;
}

.header-nav-list .header-nav-link--active {
  color: var(--primary-color) !important;
}

.header-nav-list > li:hover > .header-nav-link {
  color: var(--primary-color);
}

/**
  * Carousel Section
  */

/* TODO: Style Carousel Section below this line */
#carousel {
  display: flex;
  z-index: 0;
  justify-content: flex-end;
}

#carousel .section-headings {
  width: 37vw;
  z-index: 1;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}

#carousel .section-headings::before {
  content: "Farm";
  font-family: "Volkhov", serif;
  color: #f4f4f4;
  font-size: 100px;
  font-weight: 600;

  position: absolute;
  top: -90px;
  left: -45px;
  z-index: -1;
}

.primary-heading {
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #000;
}

.primary-heading > br {
  display: none;
}

#carousel .text-heading {
  margin-bottom: 60px;
  font-size: 20px;
}

.slider {
  border-bottom-left-radius: 20px;
  overflow: hidden;
  z-index: -5;

  width: 58vw;
}

.slider-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider-footer {
  z-index: 4;
  bottom: 42px;
  right: 18px;
}

.slider-footer__number {
  font-size: 25px;
  line-height: 1.2;
  color: #fff !important;
}

.slider-footer__number > span {
  font-weight: 600;
  font-size: 26px;
}

.slider-footer__title {
  font-size: 17px;
  color: #fff !important;
}

#carousel .slick-dots {
  bottom: 20px;
  z-index: 5;
}

#carousel .slick-dots li {
  margin: 0 3px;
}

#carousel .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 13px;
}

#carousel .slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--primary-color);
}

.slider-item {
  z-index: 0;
  height: 100vh;
}

.slider-item--1 {
  background: url("../images/b1.jpg") top / cover no-repeat;
}
.slider-item--2 {
  background: url("../images/b8.jpg") top / cover no-repeat;
}
.slider-item--3 {
  background: url("../images/b4.jpg") top / cover no-repeat;
}

/**
  * Works Section 
  */

/* TODO: Style Works Section below this line */
#works {
  padding: 50px 0;
}

#works .section-headings {
  margin-bottom: 45px;
}

.works-item {
  margin-bottom: 30px;
  padding: 40px 0;
  box-shadow: 2px 5px 100px rgba(0, 0, 0, 0.05);
  border-radius: 30px;

  transition: box-shadow 0.3s;
}

.works-item:hover {
  box-shadow: 2px 5px 120px rgba(0, 0, 0, 0.1);
}

.works-item__img {
  width: 60px;
  margin-bottom: 25px;
}

.works-item__title > a {
  font-size: 20px;
  font-weight: 600;
  color: #000;

  transition: color 0.5s;
}

.works-item__title > a:hover {
  color: var(--secondary-color);
}

/**
  * Services Section
  */

/* TODO: Style Services Section below this line */
#services {
  padding: 100px 0 70px;
  background-color: var(--secondary-color);
}

#services .section-headings {
  margin-bottom: 50px;
}

#services .section-headings::before {
  content: "Services";
  font-family: "Volkhov", serif;
  /* font-size: 155px; */
  font-size: 12vw;
  font-weight: 900;

  color: #23ac65;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services .subheading,
#services .secondary-heading,
#services .text-heading {
  color: #fff;
}

#services .subheading {
  margin-bottom: 10px;
}

#services .text-heading {
  font-size: 20px;
  font-weight: 300;
}

.services-item {
  border-radius: 22px;
  margin-bottom: 25px;
  overflow: hidden;
  background-color: #fff;
}

.services-item__body {
  padding: 26px 22px 28px;
}

.services-item__img {
  width: 100%;
}

.services-item__category {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 20px;
  border-radius: 999px;

  font-weight: 600;

  color: var(--secondary-color);
  background-color: #009f4d26;
}

.services-item__title {
  margin-bottom: 13px;
}

.services-item__title:hover > a {
  color: var(--secondary-color);
}

.services-item__title > a {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;

  transition: color 0.5s;
}

/*-------------- Le Nguyen Anh Tu --------------*/
/**
  * Features Section
  */

/* TODO: Style Features Section below this line */
#features {
  padding: 80px 0;
}

.features-upper {
  margin-bottom: 125px;
}

#features .section-headings {
  margin-bottom: 65px;
}

.features-info {
  gap: 8px;
}

.features-info__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;

  gap: 8px;
}

.features-info > i {
  font-size: 30px;
  color: var(--primary-color);
}

.features-img-box {
  position: relative;
}

.features__img {
  max-width: 470px;
  border-radius: 30px;
}

.features-experience {
  min-width: 300px;
  height: 190px;
  background-color: var(--primary-color);
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);

  border-bottom-right-radius: 100px;

  position: absolute;
  bottom: 45px;
  left: 0;
}

.features-experience__years {
  font-size: 70px;
  font-weight: 600;
}

.features-experience__text {
  font-size: 18px;
  font-weight: 600;
}

.features-item {
  margin-bottom: 30px;
  padding: 30px 17px;
  border: 1px solid transparent;
  border-radius: 10px;

  cursor: pointer;
  transition: border 0.7s;
}

.features-item__active {
  border: 1px dotted rgba(255, 255, 255, 0.5);
}

.features-item:hover {
  border: 1px solid #eee;
}

.features-item:hover .features-item__title {
  color: var(--secondary-color);
}

.features-item__img {
  width: 100%;
}

.features-item__title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;

  transition: color 0.3s;
}

/**
  * Products Section
  */

/* TODO: Style Products Section below this line */
#products {
  padding: 0 0 80px 0;
}

#products .row {
  padding: 0 15px;
}

#products .section-headings {
  margin-bottom: 25px;
}

.product-col,
.heading-col {
  padding: 0;
}

.product-item__link {
  overflow: hidden;
}

.product-item__link::before {
  content: "";
  width: 25%;
  height: 100%;

  position: absolute;
  top: 0;
  left: -50%;

  transform: skewX(-20deg);

  background: linear-gradient(to right, #ffffff14, #ffffff54);
}

.product-item__link:hover::before {
  animation: moveShine 0.6s;
}

@keyframes moveShine {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.product-item__link {
  display: block;
}

.product-item__img {
  width: 100%;
}

.product-item__title {
  padding: 8px 0;
  width: 85%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #ffffff36;

  text-transform: capitalize;

  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
/**
  * Testimonials Section 
  */

/* TODO: Style Testimonials Section below this line */
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 510px;
  background: url("../images/bg1.jpg");
  position: relative;
}

#testimonials::before {
  content: "";
  background: rgba(10, 10, 10, 0.52);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.testimonials-carousel-item {
  padding-top: 10px;
}

.testimonials-customer__link {
  margin-bottom: 20px;
  overflow: hidden;
}

.testimonials-customer__img {
  width: 95px;
}

.testimonials-customer__name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.testimonials-customer__title {
  font-size: 16px;
}

.testimonials-description {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;

  position: relative;
}

.testimonials-description i {
  font-size: 25px;
  position: absolute;
  top: -10px;
  left: -33px;
  color: var(--primary-color);
}

.testimonials-carousel .slick-dots {
  bottom: -95px;
}

.testimonials-carousel .slick-dots li.slick-active button:before,
.testimonials-carousel .slick-dots li button:focus::before,
.slick-dots li button:hover::before {
  opacity: 1;
  color: var(--primary-color);
}

.testimonials-carousel .slick-dots li button::before {
  font-size: 11px;
}

/**
  * Footer
  */

/* TODO: Style Footer below this line */
#footer {
  padding: 60px 0;
}

.footer-contact {
  padding-left: 30px;
}

.footer-contact,
.footer-medias {
  padding-top: 12px;
}

.footer-contact__title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

.footer-contact-item {
  margin-bottom: 12px;
}

.footer-contact-item,
.footer-contact-item > a {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.footer-contact-item > a {
  transition: color 0.4s;
}

.footer-contact-item > a:hover {
  color: var(--primary-color);
}

.footer-info__logo-link {
  display: inline-block;
  margin-bottom: 23px;

  font-family: "Volkhov", serif;
  color: var(--primary-color) !important;
  font-size: 32px;

  position: relative;

  transition: color 0.4s;
}

.footer-info__logo-link > i {
  font-size: 20px;

  position: absolute;
  top: -2px;
  left: 56px;
}

.footer-info__logo-link:hover {
  color: #000 !important;
}

.footer-info__text {
  margin-bottom: 45px;
}

.footer-info__copyright-link {
  color: var(--secondary-color);

  transition: color 0.4s;
}

.footer-info__copyright-link:hover {
  color: var(--primary-color);
}

.footer-medias__title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

.footer-medias__text {
  margin-bottom: 15px;
}

.footer-medias__text br {
  display: none;
}

.footer-medias__form {
  margin-bottom: 32px;
}

.footer-medias__input {
  padding: 13px 20px;
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.footer-medias__submit {
  width: 95px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  border: none;
  color: #fff;
  background-color: var(--secondary-color);

  position: relative;

  transition: opacity 0.4s;
}

.footer-medias__submit:hover {
  opacity: 0.7;
}

.footer-medias__submit > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-medias__submit:focus,
.footer-medias__input:focus {
  outline: none;
}

.footer-medias-list {
  gap: 8px;
}

.footer-medias-item a {
  display: inline-block;
  background-color: #009f4d0f;
  color: var(--secondary-color);
  width: 35px;
  height: 35px;
  position: relative;

  transition: all 0.4s;
}

.footer-medias-item a:hover {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #fb811e2e;
  color: var(--primary-color);
}

.footer-medias-item i {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
