/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/**
  * General
  */

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

.section-headings {
}

.section-headings .subheading {
  font-size: 22px;
  font-weight: 400;
  color: #fb811e;
}

.section-headings .secondary-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #000;
}
/**
  * Responsive
  */

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
/*-------------- Tran Duc Thanh --------------*/
/**
  * Header 
  */

/* TODO: Style Header below this line */

/**
  * Carousel Section
  */

/* TODO: Style Carousel Section below this line */

/**
  * Works Section 
  */

/* TODO: Style Works Section below this line */

/**
  * Services Section
  */

/* TODO: Style Services Section below this line */

/*-------------- Le Nguyen Anh Tu --------------*/
/**
  * Features Section
  */

/* TODO: Features Carousel Section below this line */

/**
  * Products Section
  */

/* TODO: Style Products Section below this line */

/**
  * Testimonials Section 
  */

/* TODO: Style Testimonials Section below this line */

/**
  * Footer
  */

/* TODO: Style Footer below this line */
