/**
  * Responsive
  */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  /* Services Section */
  #services .section-headings {
    margin-bottom: 35px;
  }

  /* Features Section */
  .features__img {
    max-width: 370px;
  }

  .features-experience {
    left: -5px;
  }

  .features-info__title {
    font-size: 20px;
  }

  .features-item {
    padding: 25px 0;
  }

  .features-item__title {
    font-size: 18px;
  }

  /* Footer */
  .footer-medias__submit {
    width: 120px;
  }

  .footer-contact__title,
  .footer-medias__title {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  /* Heading Handlers */
  .subheading {
    font-size: 20px;
  }

  .secondary-heading {
    font-size: 35px;
    line-height: 45px;
  }

  /* Header */
  #header {
    padding: 15px 0;
  }

  /* Works Section */
  #works .section-headings {
    margin-bottom: 25px;
  }

  #works .btn-custom {
    margin-bottom: 20px;
  }

  /* Features Section */
  .features__img {
    margin-top: 40px;
    max-width: 570px;
  }

  .features-experience {
    left: 34px;
  }

  .features-item {
    padding: 23px 0;
  }

  .features-item__title {
    font-size: 20px;
  }

  /* Footer */
  .footer-contact {
    padding-left: 0;
  }

  .footer-contact,
  .footer-medias {
    margin-bottom: 40px;
  }

  .footer-medias__text br {
    display: inline;
  }

  .footer-medias__form {
    justify-content: flex-start !important;
  }

  .footer-medias__input {
    width: 275px;
  }

  .footer-medias__submit {
    width: 105px;
  }

  .footer-contact__title,
  .footer-medias__title {
    margin-bottom: 12px;
  }

  .footer-info__logo-link {
    margin-bottom: 15px;
  }

  #footer .row .col-lg-4:nth-child(2) {
    order: 1;
  }
}

@media (min-width: 992px) {
  /* Works Section */
  #works .section-headings {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  /* Heading Handlers */
  .subheading {
    font-size: 18px;
  }

  .secondary-heading {
    font-size: 32px;
    line-height: 42px;
  }

  /* Header */
  .header__logo-link {
    color: #fff;
  }

  /* Works Section */

  #works .btn-custom {
    margin-bottom: 45px;
  }

  /* Services Section*/
  #services {
    padding: 70px 0 45px;
  }

  #services .section-headings {
    margin-bottom: 47px;
  }

  #services .subheading {
    margin-bottom: 5px;
  }

  /* Features Section */
  .features-upper {
    margin-bottom: 100px;
  }

  .features__img {
    width: 100%;
  }

  .features-experience {
    left: -55px;
  }

  /* Testimonials Section */
  #testimonials {
    height: 600px;
  }

  .testimonials-carousel-item > .row {
    flex-direction: column;
  }

  .testimonials-customer__title {
    margin-bottom: 35px;
  }

  .testimonials-description i {
    top: -25px;
    left: 47%;
    transform: translateX(-50%);
  }

  .testimonials-description {
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
  }

  .testimonials-carousel .slick-dots {
    bottom: -85px;
  }

  /* Footer */
  .footer-medias__text br {
    display: none;
  }

  .footer-medias__form {
    justify-content: space-between !important;
  }

  .footer-medias__input {
    width: 100%;
  }

  .footer-medias__submit {
    width: 200px;
  }
}

@media (max-width: 576px) {
  /* Heading Handlers */
  .secondary-heading {
    font-size: 30px;
    line-height: 40px;
  }

  /* Services Section */
  #services .section-headings {
    margin-bottom: 20px;
  }

  #services .secondary-heading {
    font-size: 30px;
    line-height: 40px;
  }

  /* Features Section */
  #features .section-headings {
    margin-bottom: 25px;
  }

  #features .features-list {
    gap: 25px;
  }

  .features-experience {
    left: -45px;
  }

  /* Testimonials Section */
  .testimonials-carousel .slick-dots {
    bottom: -50px;
  }
}
